*.class

# Package Files #
*.jar
*.war
*.ear

.classpath
.project
.settings
target

## Based on: https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/

